<nav class="navbar navbar-light bg-light" style="padding: 30px;margin: 40px; justify-content:center">
  <span class="navbar-brand mb-0 h1">Angular Demo</span>
</nav>

<app-studentsdetail [students]="student1">
<h5 project #color>Student Internship Project: ABC</h5>
<h5 contact #color>Student Contact No: 1111567890</h5>
</app-studentsdetail>

<app-studentsdetail [students]="student2">
  <h5 project #color>Student Internship Project: PQR</h5>
  <h5 contact #color>Student Contact No: 2222567890</h5>
</app-studentsdetail>

<app-studentsdetail [students]="student3">
  <h5 project #color>Student Internship Project: XYZ</h5>
  <h5 contact #color>Student Contact No: 3333567890</h5>
</app-studentsdetail>